@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.logo{
    width: 100px;
    height: 100px;

}
/* ___________________________________________________________________ */
/* Header */
.logo-header{
    width: 200px;
    height: auto;
    padding-left: 5px;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: #555;
}
nav ul li a:hover{
    background-color: #4B3123;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.header{
    background: linear-gradient(to right, #EEC967, #EBB537, #e9a106);
}

.header row{
    margin-top: 70px;
}
.container_header{
    max-width: 1300px;
    margin: auto;

}
/*Título*/
.contato-titulo{
    font-size: 40px;
    font-weight: bold;
    color: #e9a106;
    list-style: none;
    padding-left: 3%;

}
.contato-item:before{
    content: "☎️";
}
.contato-texto{
    padding-left: 5%;
}
/* ______________________________________________________________________________ */
/* Estilização formulário */
main form label span{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #4B3123;
}

main form input{
    background: #EEC967;
    color: rgba(166, 166, 166);
    border: 1px solid #040B18;
    border-radius: 5px;
}
form{
	margin-top: 20px;
	margin-left: 20%;
    margin-bottom: 0;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
fieldset{
	width: 75%;
	padding-left: 5%;
	margin-bottom: 2%;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 85%;
}
.chk{
	margin: 20px 0;
}
.enviar{
	width: 40%;
	padding: 15px 0;
    margin-bottom: 20px;
	background: orange;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover{
	background: darkorange;
	transform: scale(1.2);
}

/*Div do retorno do formulário*/
.divRetorno{
    display: none;
    margin-bottom: 15px;
}
.divRetorno p{
    font-size: 24px;
}



/*Estilização do Footer*/
footer{
    background-color: #4B3123;
}